body {
    background-color: rgb(219, 182, 253);
}

#mainheader {
    position: fixed;
    top: 2px;
    background-color: rgba(228, 76, 159, 0.267);
    color: white;
    width: 100%;
    margin: 5px;
    padding: 10px;

}

.nav {
    display: inline;
}

img {
    width: 275px;
    height: 400px;
    border: white;
    border-style: solid;
}

.main-topics {
    color: rgb(0, 0, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}